	@media only screen and (max-width: 360px) {
		#pbutton {
			left:0;
		}
	}




	@media only screen and (max-width: 740px) {


		.ctime {
			float:left;
			left:0;
			bottom:1.4em;
		}

		.pdur {

		bottom:2.6em;
			float:right;
		left:3em;
		margin-right:9em;
		}

		.tline {
			left:0;
			margin-top:-8em;
		
		}

		#muteb {
			left:14em;
			margin-top:-3em;

		}

		#pbutton {
			left:4em;
			margin-top:-3em;
		}

	}


	@media only screen and (max-width: 768px) {
		.ctime {
			margin-top:3em;
			margin-left:3em;
		}

		.pdur {
			margin-top:4em;
		}

		#pbutton {
			top:9em;

		}

		.tline {
			margin-bottom:3em;
		}
	}



	@media only screen and (max-width: 1024px) {

		.ctime {
			left:0;
			float:left;
		}

		.tline {
			left:0;

		}

		#pbutton {
		right:21em;
		}

	}






	@media only screen and (orientation: portrait) {


		#pbutton {
		margin-left:-9em;
		}

		.pdur {
			top:-1.2em;
			float:right;
			margin-right:8em;
			left:7em;
		}


		.ctime {
			top:3em;
		}

		.tline {
			max-width:100%;
			margin-right:3%;	
		
			

		}
		.phead {
			
			position:relative;
		}


		#muteb {
			margin-top:8em;
			left:3em;
			margin-right:12em;
		}

	}

	.podplayer {
		border:#cd919e solid;
		max-width:100%;
		/*min-height:800px;*/
		background:rgba(207,207,207);
		
	}

	#pbutton {
		width:12em;
		height:7em;
		background-size:11em 7em;
	background-repeat:no-repeat;
	top:4em;
	right:-14em;
	position:relative;
	float:left;

		}
	.playbutton {

		background:url("./svg/play.svg");
		}


	.pause {
		background-image:url("./svg/pause.svg");
	}

	#muteb {
		width:6em;
		height:5em;
		background-size:154% 110%;
		background-repeat:no-repeat;
		position:relative;
		top:4em;
		right:29em;
		float:right;
	}

	.mutebutton {
		background:url("./svg/muteb.svg");
	}

	.unmutebutton {
		background-image:url("./svg//unmuteb.svg");
	}





	.tline {
		right:-2em;
		top:15em;
		width:600px;
		float:left;
		height:50px;
		background: rgba(112,128,142,0.9);
		position:relative;
	}

	.phead {
	width:0;
	height:50px;
	float:left;
	background: rgba(255,193,193,0.6);
	position:relative;

	}

	.d1 {
		 display: block;
	    height: 100%;
	    background-color: rgba(255,0,0, 0.3);
	    width: 0;
	}

	.dladed {
		width:0;
		height:50px;
		background-color: rgba(255,193,193, 0.3);
		position:relative;
		/*bottom:51px;	*/
	}

	.ctime {
		background:rgba(112,128,144,1);
		float:left;
		color:#ffe4e1;
		right:-10em;
		position:relative;
	}

	.pdur {
		background-color:rgba(112,128,144,1);
		font-weight:bold;
		color:#ffe4e1;
		right:3em;
		position:relative;
	}

	.ctime, .pdur {
		font-size:200%;
	}


	.vol {
		-webkit-appearance:none;
		background:rgba(105,105,105,0.6);
		position:relative;
		top:3em;
		right:33em;
	}


	.vol::-moz-range-thumb {
	background:#ffe4e1;
}


.ptitle h1 {

	color:#ffe4e1;
	background: rgba(112,128,144,0.6);
word-wrap:break-word;
display:inline;
	
}

.ptitle {
	overflow:auto;
height:14em;

}
	




.plist {
	background-color: #bebebe;
	position:relative;
	top:14.6em;
	overflow: auto;
	height:14em;
	width:100%;
}

.plist ul li {
	line-height:1.3em;
	list-style:none;
}

.plist ul li span {
	background:#708090;	
	font-weight:bold;
	color:#eee9e9;
}

.plist ul li span:active {
	  background-color: rgba(255,193,193, 0.3);
}
